@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.app {
  height: 100vh;
}

.book-table {
  height: 350px;
  width: 100%;
}

.fa-book {
  cursor: pointer;
  color: #32a852;
  font-size: 20px;
}

.fa-rotate-left {
  cursor: pointer;
  color: #a83234;
  font-size: 20px;
}

body {
  box-sizing: border-box;
  color: #444;
  font-family: 'Poppins', sans-serif;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.pointer {
  cursor: pointer;
}
